@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    padding: 1rem;

    background: #8B5CF6;
    width: 100%;
}

nav div {
    color: white;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: space-between;
    

    
}

ul li {
    margin-left: 1rem;
    
}

ul li a {

    color: white;
    text-decoration: none;

}


ul li #active {
    font-weight: 600;
}

main {
    width: 70%;
    margin: auto;

    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    text-align: center;
}

main h1 {
    margin-bottom: 1rem;
}

main h2 {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

main input{

    margin-bottom: 1.5rem;
}

main button {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
}